body{
  background-color: #ffffa1;
}
#alert{
  text-align: center;
}
*{
  box-sizing: border-box;
}

/* Style the search field */
form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.search::after {
  content: "";
  clear: both;
  display: table;
}

.profile{
  text-align: left;
 
}



.card {
  position: center;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: #ffffa1;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  background: cadetblue;
  text-emphasis-color: white;
}

.card-title {
  margin-bottom: .5rem;
  color: white;
  text-align: center;
}

.list-group-flush>.list-group-item {
  background-color: #ffffa1;
  background: cadetblue;
  color: white;
  text-align: center;
}

.password {
  color: white;
  
}
a:hover{
  color: black;
}
.buttonpass{
  margin-left: auto;
  width: -webkit-fill-available;
}